<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesta Digital</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <section>
    <div class="container">
      <header>
        <h1>CESTA DIGITAL</h1>
      </header>
      <form class="cpf" method="get">
        <p>Adicionar CPF:<br><input type="addCPF" id="addCPF" name="addCPF" maxlength="11"></p>
        <button type="submit"><i>+</i></button>
      </form>
      <div class="FormProd">
        <p>Adicionar código:<br><input type="number" id="codigo" placeholder="Código do produto"></p>
        <button onclick="buscarProduto()"><i>+</i></button>
      </div>
      <nav>
        <button type="button" id="btnImprimir"><i>Imprimir</i></button>
        <a href="../views/index.html"><button><i>Voltar</i></button></a>
      </nav>

  <!--Area de impressão Recibo-->
      <div class="area-impressao">
        <!--<img src="../public/img/fundo.jpg" class="logo-recibo">-->
        <div class="info">
          <p>Mercado Dia LTDA</p>
          <p>CNPJ - 40.870.550/0001-86    IE - 799384052110</p>
          <p>RUA SANTA FILOMENA, 925, Centro, SBC - SP</p>
          <p>_______________________________</p>
          <p>Descrição:</p>
        </div>
        <div class="recibo">
          <ul id="listaProdutos" class="listaProdutos"></ul>
          <div class="info"><p>_______________________________</p></div>
          <h3>Total: R$ <span id="total">0.00</span></h3>
        </div>
        <div class="info"><p>_______________________________</p></div>
        <div id="cliente" class="cliente"></div>
      </div>
    </div>
  </section>
  <!--Link JS-->
  <script src="../public/js/func_cpf.js"></script>
  <script src="../public/js/cod_produto.js"></script>
  <script src="../public/js/historico.js" ></script>
  <!--Script de função de imprimir-->
  <script>
    function imprimirRecibo(){
      salvarRecibo(); // salva antes de imprimir
      window.print();
  }
  document.querySelector('#btnImprimir').addEventListener('click', imprimirRecibo);
  </script>
</body>
</html>