<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesta Digital</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <header>
                <h1>CESTA DIGITAL</h1>
            </header>
            <nav>
                <a href="../views/index.html"><button><i>Voltar</i></button></a>
            </nav>
            <h2>Histórico de Compras</h2>
        <div id="historico">

        </div>
        </div>
    </section>
    <script src="../public/js/historico.js"></script>
</body>
</html>