<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Cesta Digital</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <header>
                <h1>CESTA DIGITAL</h1>
            </header>
            <nav id="menu">
                <a href="../views/caixa.html"><button type="button"><i class="fa-solid fa-plus">Iniciar Atendimento</i></button></a>
                <a href="../views/historico.html"><button type="submit"><i class="fa-solid fa-plus">Histórico</i></button></a>
                <a href="../views/painel-produtos.html"><button type="submit"><i class="fa-solid fa-plus">Painel Produtos</i></button></a>
            </nav>
        </div>
    </section>
</body>
</html>