<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Cesta Digital</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <ul id="topics">
            <li>Configurações</li>
            <li>Sobre</li>
        </ul>
    </header>
    <main>
        <section>
            <h1>Cesta Digital</h1>
            <a href="../views/atender-cliente.html"><button>Atender Cliente</button></a><br>
            <a href="#"><button>Atendimentos</button></a><br>
            <a href="#"><button>Painel Produtos</button></a><br>
        </section>
    </main>
    <footer>
        <p>*Software desenvolvido por codefeather*</p>
    </footer>
</body>
</html>