<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesta Digital</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <header>
                <h1>CESTA DIGITAL</h1>
            </header>
            <nav>
                <a href="../views/index.html"><button><i>Voltar</i></button></a>
            </nav>
            <ul id="lista">
                <!--Exibição dos Produtos no Banco de Dados-->
            </ul>
            <h2>Criar Produto</h2>
            <input type="text" id="nome" placeholder="Nome">
            <input type="number" id="preco" placeholder="Preço">
            <input type="text" id="marca" placeholder="Marca">
            <button onclick="criarProduto()">Adicionar</button>
        </div>
    </section>
    <script src="../public/js/painel-produtos.js"></script>
</body>
</html>