*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: auto;
}
body , html {
	overflow-x: hidden;
}
header{
    background-color: rgb(120, 120, 109);
    display: flex;
	width: 100%;
	justify-content: space-between;
}
header, #topics{
    display: flex;
    text-align: left;
    list-style-type: none;
}
#topics, li {
	margin: 0 10px;
}
main{
    background-color: chocolate;
    padding-top: 100px;
    padding-bottom: 168px;
}
section{
    background-color: aqua;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 60px;
}
footer{
    background-color: brown;
    padding: 20px;
}