*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: auto;
}
body , html {
	overflow-x: hidden;
    background-image: url('../img/fundo.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir a área */
    background-position: center; /* Centraliza a imagem */
    /*background-repeat: no-repeat;*/
}
a, ul{
    text-decoration: none;
    list-style: none;
}
.logo-recibo{
    display: none;
}

button{
    background-color: #FBC02D;
    /*color: #102f5e;*/
    border: 2px solid #89650b;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-bottom: 10px;
}
button:hover{
    background-color: #89650b;
    color: #fff;
}
button:hover > i{
    color: #fff;
}
button i{
    color: #000000;
    font-weight: bold;
    pointer-events: none;
}
section{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 90vh;           /*Altura opcional para alinhar na tela toda */
}

.container{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(255, 255, 255, 0.5)), url("../img/operador-caixa.jpg");
    background-size: cover;
    background-position: center;
    border: solid 6px #D32F2F;
    padding: 2.5rem; /*Permite um espaçamento melhor sobre os itens*/
    border-radius: 15px;
    width: 450px;           /* Largura opcional */
    height: 300px;          /* ALTURA FIXA: Essencial para o scroll */
    overflow-y: auto;  
}

.container header{
    padding: 0 1rem 1rem;
    margin-bottom: 20px;
    border-bottom: 3px solid #D32F2F;
}
.container, header, h1{
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.cpf{
    display: flex;
    text-align: left;
}
.cpf button{
    margin-left: 20px;
}
.FormProd{
    text-align: left;
    display: flex;
}
.FormProd button{
    margin-left: 20px;
}
.FormProd, input{
    margin-bottom: 10px;
}
.area-impressao{
    background-color: rgb(95, 95, 86);
    color: #000;
}
.area-impressao{
    width: 300px;           /* Largura opcional */
    height: 200px;          /* ALTURA FIXA: Essencial para o scroll */
    overflow-y: auto;       /* Cria scroll vertical apenas quando necessário */
    border: 5px solid rgb(95, 95, 86); /* Opcional: para enxergar a div */
    padding: 10px;          /* Opcional */
}
.cliente{
    margin-top: 20px;
}
.info{
    display: none;
}

@page {
  size: 80mm auto;
  margin: 5mm;
}

@media print {
  body * {
    visibility: hidden;
  }

  .area-impressao, .area-impressao * {
    visibility: visible;
  }

  .area-impressao {
    position: absolute;
    top: 0;
    left: 0;
    width: 80mm;
    height: 100mm;
    font-family: monospace;
    font-size: 8px;
    background-color: #fff;
  }
  .logo-recibo {
        width: 80px;
        display: block;
        margin: 0 auto;
    }
  .info{
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 8px;
  }
  .linha {
    display: flex;
    justify-content: space-between;
  }

  * {
    -webkit-print-color-adjust: exact;
  }
}